* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #151515;
  --color-light-gray: #1B1B1B;
  --color-subdued-text: #9f9fa9;
}

body {
  font-family: "Instrument Serif", serif;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  overflow-x: hidden;
  line-height: 160%;
  letter-spacing: 0.05em;
}

.title {
  color: var(--color-subdued-text);
}

.body-text {
  color: var(--color-subdued-text);
}

p {
  font-size: 18px;
}

.profile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 4px;
  padding: 10px 0px
}

.profile-info h2 {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.main-heading {
  font-size: 48px;
  line-height: 1;
}


.profile-image{
  background-image: url('Assets/HeadshotPNG.png');
  display: block;
  width:50px;
  height:50px;
  border-radius: 50%;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 0px -5px;
}

.navigation{
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-header {
  display:flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-section {
  width: 100%;
  padding: 30px;
  display:flex;
  flex-direction: column;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #1B1B1B;
  height: 100vh;
  gap: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.content h2 {
  font-family: "Instrument Sans", sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-description p {
  text-align: center;
  font-size: 21px;
  line-height: 140%;
}

.tab {
  background-color: var(--color-light-gray);
  padding: 10px 10px;
  width: 125px;
  color: var(--color-white);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-family: "Instrument Serif", serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

.tab:hover{
   box-shadow: 12px 12px 12px rgba(0, 0, 0, 100) inset, -10px -10px 10px rgb(255, 255, 255, 0.01) inset;
}

.tab.active{
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 100) inset, -10px -10px 10px rgb(255, 255, 255, 0.01) inset;

}

.project-tabs {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.phone-mockup {
  width: 250px;
  height: auto;
  border-radius: 30px;
  transition: 0.5s ease;
}

.mockup-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup-container:hover .phone-mockup {
  transform: scale(1.05) translateX(-100px);
  transition: transform 0.7s ease;
}

.mockup-container:hover .test {
  transform: scale(1.05) translateX(100px);
  animation: fadeIn 0.7s ease forwards;
  opacity: 1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.test {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
}

.project-description {
  max-width: 600px;
  margin: 0 auto;
}
