* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Instrument serif;
  background-color: #151515;
  color: #ffffff;
  overflow-x: hidden;
  line-height: 105%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  gap: 8px;
}

.profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

