* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #151515;
  --color-light-gray: #1B1B1B;
}

body {
  font-family: "Instrument Serif", serif;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  overflow-x: hidden;
  line-height: 160%;
  letter-spacing: 0.05em;
}

p {
  font-size: 18px;
}

.profile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 4px;
  padding: 10px 0px
}

.profile-info h2 {
  font-family: "Instrument Sans", sans-serif;
}

.profile-image{
  background-image: url('Assets/HeadshotPNG.png');
  display: block;
  width:50px;
  height:50px;
  border-radius: 50%;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 0px -5px;
}

.navigation{
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-header {
  display:flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-section {
  width: 100%;
  padding: 30px;
  display:flex;
  flex-direction: column;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #1B1B1B;
  height: 100vh;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.content h2 {
  font-family: "Instrument Sans", sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-description p {
  text-align: center;
}

.tab {
  background-color: var(--color-light-gray);
  padding: 10px;
  color: var(--color-white);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-family: "Instrument Sans", sans-serif;
}

.tab:hover{
   box-shadow: 12px 12px 12px rgba(0, 0, 0, 100) inset, -10px -10px 10px rgb(255, 255, 255, 0.01) inset;
}

.tab.active{
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 100) inset, -10px -10px 10px rgb(255, 255, 255, 0.01) inset;

}

.project-tabs {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.phone-mockup {
  width: 300px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
